.cuisine {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: .5rem;
    margin: 1rem 0 2rem;
}

.filter {
    text-align: center;
    margin-bottom: 1rem;
}

@media (min-width: 700px) {
    .cuisine {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1rem;
    }
}

@media (min-width: 1000px) {
    .cuisine {
        grid-template-columns: repeat(5, 100px);
        justify-content: center;
        grid-gap: 2rem;
    }
}