.cuisine {
    background-color: var(--light-blue);
    display: inline-block;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: .25rem .5rem;
    color: black;
    text-decoration: none;
    transition: opacity 150ms ease;
}

.cuisine:hover {
    opacity: .6;
}

.cuisine img {
    width: 25%;
    margin-right: 1rem;
}

.cuisine strong {
    font-size: .9rem;
}