.card {
    border-radius: 1.5rem;
    display: block;
    overflow: hidden;
    position: relative;
    margin: 1.5rem .5rem;
    height: 150px;
    background-color: white;
}

.card img {
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform 250ms ease;
}

.card:hover img {
    transform: scale(1.05);
}

.tags {
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(7px);
    padding: .5rem;
}

.tags h3 {
    font-size: 1rem;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 80%;
}

.tags small {
    display: flex;
    align-items: center;
}

.tags svg {
    width: 15px;
    margin-right: 5px;
}

@media (min-width: 1000px) {
    .card {
        height: 200px;
    }
}